<!DOCTYPE html>
<html>
  <header>
    <title>Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Work+Sans:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
  </header>
  <body>
    <div class="intro"><img src="/assets/img/watermark-white.png">
      <h1>NATE <br> DEL DUCA</h1>
    </div>
    <aside>
      <div class="school">
        <div class="side"></div>
        <h1>DURHAM <br> COLLEGE <br> <span>2009 - 2013</span></h1>
        <div class="side"></div>
      </div>
      <div class="nate">
        <div class="n">
          <h1>N</h1>
          <div class="download"></div>
        </div>
        <div class="a">
          <h1>A</h1>
          <div class="download text"><a href="/assets/doc/resume.docx" download>DOWNLOAD <BR> RESUME</a></div>
        </div>
        <div class="t">
          <h1>T</h1>
          <div class="download text"><a href="/assets/doc/resume.docx" download>DOWNLOAD <BR> RESUME</a></div>
        </div>
        <div class="e">
          <h1>E</h1>
          <div class="download"></div>
        </div>
      </div>
    </aside>
    <section class="exp">
      <div class="square">
        <div class="side backward"></div>
        <h1>EXP</h1>
        <div class="side forward"></div>
      </div>
      <div class="company">
        <div class="side backward"></div>
        <h2 class="yep">CANADIAN<BR>TIRE L3</h2>
        <h2>CANADIAN<BR>TIRE L1</h2>
        <h2>THE 5<BR>OF US</h2>
        <h2>MITCHELL<BR>WHALE<BR>INSURANCE<BR>BROKERS</h2>
        <div class="side forward"></div>
      </div>
      <div class="task">
        <div class="tasks yep">
          <article class="yep">
            <h2>WEB DEVELOPMENT</h2>
            <p>CREATE WEB APPS FOR EMPLOYEE USE ACROSS CANADA</p>
          </article>
          <article>
            <h2>VM MANAGEMENT</h2>
            <p>MAINTAIN AND CONFIGURE VSPHERE CONFIGURATIONS</p>
          </article>
          <article>
            <h2>WINDOWS 2012/2016</h2>
            <p>ENSURE ALL WINDOWS VMS TO BE OPERATIONAL</p>
          </article>
          <article>
            <h2>SCRIPTING</h2>
            <p>CODING IN POWERSHELL AND GOLANG FOR AUTOMATION</p>
          </article>
        </div>
        <div class="tasks">
          <article>
            <h2>PHONE TECH SUPPORT</h2>
            <p>PROVIDED EASY TO FOLLOW TROUBLESHOOTING INSTRUCTIONS</p>
          </article>
          <article>
            <h2>REMOTE HARDWARE SETUP</h2>
            <p>CONFIGURE AND TEST EMPLOYEE APPLIANCES</p>
          </article>
          <article>
            <h2>PROCEDURAL DOCUMENTATION</h2>
            <p>CREATE AND ENSURE INSTRUCTION ACCURACY</p>
          </article>
        </div>
        <div class="tasks">
          <article>
            <h2>NETWORK ADMINISTRATION</h2>
            <p>FAST AND CLEAN OFFICE NETWORK SETUP WITH ROUTERS AND SWITCHES</p>
          </article>
          <article>
            <h2>AD/GPO</h2>
            <p>USER ACCOUNT MAINTENANCE AND POLICY UPDATES FOR YOUR OFFICE SECURITY</p>
          </article>
          <article>
            <h2>SERVER INSTALLATION</h2>
            <p>CLEAN AND ORGANIZED CONSTRUCTION OF SERVER RACKS AND CABLE ROUTING</p>
          </article>
        </div>
        <div class="tasks">
          <article>
            <h2>TECH SUPPORT</h2>
            <p>FAST AND FRIENDLY CUSTOMER SUPPORT WHEN YOU NEED IT</p>
          </article>
          <article>
            <h2>WEB DEV</h2>
            <p>CODING WEBSITES FROM SCRATCH FOR ADVERTISEMENT AND OFFICE FUNCTIONALITY</p>
          </article>
          <article>
            <h2>PHOTOGRAPHY</h2>
            <p>CREATING AND EDITING PHOTOS FOR TEAM PHOTOS AND EMPLOYEE HEADSHOTS</p>
          </article>
          <article>
            <h2>CONSULTATION</h2>
            <p>CLEAR AND CONCISE ADVISE FOR MAKING THE BEST TECHNOLOGICAL DECISIONS</p>
          </article>
        </div>
      </div>
    </section>
    <section class="skill">
      <div class="square">
        <div class="side backward"></div>
        <h1>SKILL</h1>
        <div class="side forward"></div>
      </div>
      <div class="content">
        <div class="wrap yep"><img src="/assets/img/go-logo.png"><img src="/assets/img/docker.png"></div>
        <div class="wrap"><img src="/assets/img/js.png"><img src="/assets/img/NODEJS.svg"></div>
        <div class="wrap"><img src="/assets/img/html.png"><img src="/assets/img/CSS.png"></div>
        <div class="wrap"><img src="/assets/img/sass.svg"><img src="/assets/img/jquery-2.svg"></div>
      </div>
    </section>
    <section class="about">
      <div class="square">
        <div class="side"></div>
        <h1>SITE</h1>
        <div class="side"></div>
      </div>
      <div class="content">
        <article>
          <p>THIS SITE WAS ENTIRELY CODED BY ME. ALL THE SKILLS NECESSARY TO CODE THIS WEBSITE WERE ALL SELF TAUGHT AND I AM ALWAYS LEARNING NEW THINGS. CURRENTLY, THE SITE IS USING A node/js CONTAINER INSIDE docker, BACKEDUP TO MY OWN CUSTOM gitea SERVER DROPLET FROM digital ocean.</p>
        </article>
      </div>
    </section>
    <section class="crypto">
      <div class="square">
        <div class="side backward"></div>
        <h1>COIN</h1>
        <div class="side forward"></div>
      </div>
      <div class="content">
        <div class="wrap yep">
          <h1>Donate with<img src="/assets/img/btc-logo.svg"> BTC Bitcoin</h1>
          <p>My BTC address : bc1qx0vchcqhev04lavqxqw28g3cvfx9ljavtq37ue</p>
        </div>
        <div class="wrap">
          <h1>Donate<img src="/assets/img/ada-logo.svg">ADA Cardano with Yoroi Wallet</h1>
          <p>My ADA address : addr1q9n70j6vqy888ffqgnqjjuvna0uvw70prgmlvu9wdnjl6zt8ul95cqgwwwjjq3xp99ce86lccau7zx3h7ec2um89l5ys9ps46u</p>
        </div>
        <div class="wrap">
          <h1>Donate<img src="/assets/img/eth-logo.png">ETH Ethereum with MetaMask Wallet</h1>
          <p>My ETH address : 0x18F5e463889aB04aA6cF6b90C8B822d52B2526d5</p>
        </div>
        <div class="wrap">
          <h1>Donate<img src="/assets/img/sol-logo.png"> SOL Solana with Phantom Wallet</h1>
          <p>My SOL address : 1jKW5K2sofpw4S6cZH3MkfDuSWAgee4ajgtzSyVaLCs</p>
        </div>
        <div class="wrap">
          <h1>Donate with<img src="/assets/img/xrp-logo.png">XRP Ripple</h1>
          <p>My XRP address : rnhCCNykamgVubeUx4sMfvrKnUCyef9T6K</p>
        </div>
        <div class="wrap">
          <h1>Donate with<img src="/assets/img/xlm-logo.png"> XLM Stellar</h1>
          <p>My XLM address : GAEBU3UQCILFK73667GFRTPNYMRBKVA64E6MZ5NCDGMG3HWDNZQNW542</p>
        </div>
      </div>
    </section>
    <!--footer
    .left
      h1 Whats up?
    .middle
      h1 Whats up?
    .right
      h1 Whats up?
    -->
  </body>
</html>
<script src="/assets/js/index.js"></script>